:root {
   --pattern: url("../circuit-board.svg");
   --pattern: url("../bubbles.svg");
   --pattern: url("../topography.svg");
}

body {
   background: linear-gradient(var(--background), var(--background-100)),
      var(--pattern);
   background-blend-mode: screen;
   color: var(--text);
   font-family: "Inter Variable", sans-serif;
   padding: 0;
   margin: 0;
   min-height: 100vh;
   display: flex;
   flex-direction: column;

   &::-webkit-scrollbar {
      width: 0.5rem;
      height: 0.5rem;
      background: var(--background-100);
   }

   &::-webkit-scrollbar-track {
      border-radius: 0.5rem;
      margin: 0.5rem;
      padding: 0.5rem;
      width: 0.5rem;
   }

   &::-webkit-scrollbar-thumb {
      background: var(--primary);
      border-radius: 0.5rem;
      margin: 0.5rem;
      padding: 0.5rem;
      width: 0.5rem;
   }
}

.colour-effect {
   background: linear-gradient(90deg, var(--primary), var(--accent));
   background-clip: text;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}

.font-effect {
   font-style: italic;
   -webkit-text-stroke: 0.04rem;
   -webkit-text-stroke-color: var(--text);
   color: transparent;
}

h1 {
   color: var(--secondary);
}

h2,
h3,
h4,
h5,
h6 {
   color: var(--primary);
}

p {
   line-height: 1.5rem;
}

.primary {
   color: var(--primary);
}

.secondary {
   color: var(--secondary);
}

a {
   color: var(--primary);
}

button,
.button {
   background: var(--primary-300);
   color: var(--text);
   border: none;
   padding: 0.7rem 1.2rem;
   border-radius: 0.5rem;
   cursor: pointer;
   transition: all 0.2s ease-in-out;
   font-size: larger;

   &:hover {
      background: var(--primary-400);
   }

   &:active {
      background: var(--secondary-400);
   }
}
