:root {
   --text: oklch(92.23% 0.036 296.27);
   --background: oklch(10.16% 0.031 293.93);
   --primary: oklch(67.13% 0.156 291.41);
   --secondary: oklch(42.71% 0.17 342.15);
   --accent: oklch(63.25% 0.254 20.14);

   --text-50: oklch(12.53% 0.045 294.71);
   --text-100: oklch(16.95% 0.074 286.63);
   --text-200: oklch(24.83% 0.127 282.67);
   --text-300: oklch(32.19% 0.174 281);
   --text-400: oklch(39.29% 0.217 280.49);
   --text-500: oklch(45.98% 0.257 279.88);
   --text-600: oklch(54.54% 0.222 287.51);
   --text-700: oklch(65.12% 0.169 291.61);
   --text-800: oklch(76.62% 0.111 294.22);
   --text-900: oklch(88.33% 0.054 295.85);
   --text-950: oklch(94.27% 0.026 295.55);

   --background-50: oklch(12.78% 0.042 289.23);
   --background-100: oklch(17.06% 0.071 286.46);
   --background-200: oklch(24.76% 0.12 282.08);
   --background-300: oklch(32.05% 0.166 280.77);
   --background-400: oklch(38.99% 0.207 280.07);
   --background-500: oklch(45.58% 0.248 279.22);
   --background-600: oklch(54.74% 0.208 286.6);
   --background-700: oklch(65.5% 0.158 290.64);
   --background-800: oklch(76.97% 0.102 292.75);
   --background-900: oklch(88.49% 0.051 295.25);
   --background-950: oklch(94.24% 0.024 296.11);

   --primary-50: oklch(12.36% 0.045 291.58);
   --primary-100: oklch(16.95% 0.074 286.63);
   --primary-200: oklch(24.73% 0.125 281.95);
   --primary-300: oklch(32.08% 0.172 280.54);
   --primary-400: oklch(39.09% 0.216 279.72);
   --primary-500: oklch(45.71% 0.256 278.92);
   --primary-600: oklch(54.42% 0.22 286.75);
   --primary-700: oklch(65.15% 0.167 291.06);
   --primary-800: oklch(76.68% 0.108 293.34);
   --primary-900: oklch(88.33% 0.054 295.85);
   --primary-950: oklch(94.27% 0.026 295.55);

   --secondary-50: oklch(14.64% 0.047 338.1);
   --secondary-100: oklch(21.01% 0.074 341.27);
   --secondary-200: oklch(32.16% 0.123 341.35);
   --secondary-300: oklch(42.48% 0.168 342.26);
   --secondary-400: oklch(52.3% 0.211 342.38);
   --secondary-500: oklch(61.52% 0.249 342.54);
   --secondary-600: oklch(66.48% 0.222 340.17);
   --secondary-700: oklch(73.3% 0.172 338.46);
   --secondary-800: oklch(81.55% 0.114 336.66);
   --secondary-900: oklch(90.49% 0.057 336.23);
   --secondary-950: oklch(95.32% 0.028 334.88);

   --accent-50: oklch(14.04% 0.057 3.35);
   --accent-100: oklch(20.51% 0.082 10.53);
   --accent-200: oklch(32.39% 0.13 16.53);
   --accent-300: oklch(43.28% 0.173 18.25);
   --accent-400: oklch(53.5% 0.215 19.43);
   --accent-500: oklch(63.27% 0.254 19.9);
   --accent-600: oklch(65.71% 0.235 12.37);
   --accent-700: oklch(71.35% 0.189 6.65);
   --accent-800: oklch(79.54% 0.125 3.25);
   --accent-900: oklch(89.35% 0.06 0.14);
   --accent-950: oklch(94.49% 0.03 359.5);
}

/* Trick my CSS extension into thinking that these are the CSS variables that are being used
because they are lower in the file so that I can get the preview colours to work, but in
reality these CSS variables will never be used. */
:root[about-me="I love alcohol"] {
   --text: #e7e1fb;
   --background: #04020c;
   --primary: #9881ed;
   --secondary: #871368;
   --accent: #ff0043;

   --text-50: #080316;
   --text-100: #0f062d;
   --text-200: #1e0c5a;
   --text-300: #2d1287;
   --text-400: #3d18b4;
   --text-500: #4c1fe0;
   --text-600: #704be7;
   --text-700: #9378ed;
   --text-800: #b7a5f3;
   --text-900: #dbd2f9;
   --text-950: #ede9fc;

   --background-50: #070416;
   --background-100: #0f072c;
   --background-200: #1d0f57;
   --background-300: #2c1683;
   --background-400: #3b1eae;
   --background-500: #4925da;
   --background-600: #6e51e1;
   --background-700: #927ce9;
   --background-800: #b6a8f0;
   --background-900: #dbd3f8;
   --background-950: #ede9fb;

   --primary-50: #070316;
   --primary-100: #0f062d;
   --primary-200: #1d0d59;
   --primary-300: #2c1386;
   --primary-400: #3b19b3;
   --primary-500: #4920df;
   --primary-600: #6e4ce6;
   --primary-700: #9279ec;
   --primary-800: #b6a6f2;
   --primary-900: #dbd2f9;
   --primary-950: #ede9fc;

   --secondary-50: #160311;
   --secondary-100: #2d0622;
   --secondary-200: #590d45;
   --secondary-300: #861367;
   --secondary-400: #b3198a;
   --secondary-500: #df20ac;
   --secondary-600: #e64cbd;
   --secondary-700: #ec79cd;
   --secondary-800: #f2a6de;
   --secondary-900: #f9d2ee;
   --secondary-950: #fce9f7;

   --accent-50: #1a0007;
   --accent-100: #33000e;
   --accent-200: #66001b;
   --accent-300: #990029;
   --accent-400: #cc0036;
   --accent-500: #ff0044;
   --accent-600: #ff3369;
   --accent-700: #ff668f;
   --accent-800: #ff99b4;
   --accent-900: #ffccda;
   --accent-950: #ffe5ec;
}
